    <ul id="post-comments">

        <% for(comment of post.comments){%>

            <p id="comment-main">
               <% if(locals.user && locals.user.id==comment.user.id){%>
              
                <small>
                    <a href="/comment/destroy/<%=comment.id%>">X</a>
                </small>
                <%}%>
               
                <span id="user-name"><%=comment.user.name%></span> : <%=comment.content%>


            </p>

            <%}%>

    </ul>

</div>

</div>