 <li id="post-comments-view">
    
            <% for(comment of post.comments){%>
    
                <p id="comment-main">
                   <% if(locals.user && locals.user.id==comment.user.id){%>
                  
                    <small>
                        <a href="/comment/destroy/<%=comment.id%>">X</a>
                    </small>
                    <%}%>
                   
                    <span id="user-name"><%=comment.user.name%></span> : <span id="user-comment-content"><%=comment.content%></span>
    
    
                </p>
    
                <%}%>
    
        </li>
       
    
        






