<footer>

        <div id="heading">
    
            @mysocial.com
    
        </div>
    
        <div id="nav">
    
            <a href="/user/profile">Profile</a><br>
    
            <a href="/">Home</a>
    
        </div>
    
        <div id="queries">
    
            For any queries drop a mail at: oshanpandit@gmail.com
    
        </div>
    
    </footer>
