<link rel="stylesheet" href="/css/homepageStyle.css">
   
<h1 id="heading">
    Homepage Feed
</h1>


<section id="feed-posts">
    <h4>Posts</h4>

    <% if(locals.user){%>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>     
    <%}%>
   

    <div id="posts-list-container">

        <%-include('_post')-%>

        </div>
       
</section>

<section id="user-friends">

    <h4>Friends</h4>

    <% for(u of all_users){%>

        <% if(locals.user && locals.user.id==u.id){%>
        
            <%continue%>
        
        <%}%>
    
        <p>

          <a href="/user/profile/<%=u.id%>"><%=u.name%></a>  
        </p>
    
    <%}%>
</section>

    
