<html>

<head>

    <title>

        document
    </title>

    <link rel="stylesheet" type="text/css" href="/css/layoutStyle.css">

</head>

<body>


<%-include('_header');%>

<%- body %>

<%-include('_footer');%>



</body>

</html>