<link rel="stylesheet" type="text/css" href="/css/userStyle.css">

  
    <div id="heading">
        <h1>This is the profile section!</h1>
    </div>

    <div id="credentials">

        <p>Name: <%= user.name%></p>
    <p>username: <%= user.email%></p>

    </div>

