
    <h1>Sign-In section!</h1>
    
<form action="/user/create-session" method="post">

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="password" required>

<button type="submit">Sign In</button>

</form>