<h1>Sign-Up section!</h1>

<form action="/user/create" method="post">

    <input type="text" name="name" placeholder="Enter your name" required><br><br>

    <input type="email" name="email" placeholder="Enter your e-mail" required><br><br>

    <input type="password" name="password" placeholder="Enter your password" required><br><br>

    <input type="password" name="cnfrm_password" placeholder="confirm your password" required><br><br>

    <input type="submit" value="register">

</form>
    
