<link rel="stylesheet" type="text/css" href="/css/signupStyle.css">

<section id="heading">
    <h1>Sign Up Section !</h1>
</section>

<p id="comment">Create Your Account And Start A "Convo"!!</p>

<section id="form">

    <form action="/user/create" method="post">

        <input type="text" name="name" placeholder="Enter your name" required><br><br>
    
        <input type="email" name="email" placeholder="Enter your e-mail" required><br><br>
    
        <input type="password" name="password" placeholder="Enter your password" required><br><br>
    
        <input type="password" name="cnfrm_password" placeholder="confirm your password" required><br><br>
    
        <button type="submit"><i class="fas fa-user-plus"></i></button>
    
    </form>

    <p>

        <a href="/user/auth/google" style="color: white">Google Sign In/SignUp</a>

    </p>
        
    

</section>
