body{

    background:linear-gradient(to right,black 20%,lightgray);

    #layout-main{

        font-family: sans-serif;
        color:white;

        #heading{
          
            font-size:2rem;
            text-align: center;
            font-style: italic;

        }

    }
}