body{

    #layout-main{

        font-family: sans-serif;

        #heading{
          
            font-size:2rem;
            text-align: center;
            font-style: italic;

        }

        #feed-posts{

            a{

                color:red;
                text-decoration:none;
                font: size 1rem;
                }
        }

    }
}