body{

    background: linear-gradient(to bottom,black 30%,gray);

    #layout-main{

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;

        #heading{

            font-family: sans-serif;
            color:white;
            font-style: italic;
            text-decoration: underline;
        }

        #credentials{

            font-family: sans-serif;
            color:white;
            font-weight:600;
        }
    }
}