body{
    #layout-main{

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;

        #heading{

            font-family: sans-serif;
           
            font-style: italic;
            text-decoration: underline;
        }

        #credentials{

            font-family: sans-serif;
           
            font-weight:600;
        }
    }
}