<div>
    <p>
    hi <%=comment.user.name%>
    <br>
    <br>
    <p>Your comment <strong><%=comment.content%></strong> just got published on convo</p>

    <br>
    <br>

    Thanks!!

    </p>
</div>